{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container">
    <div class="title">
        <h1 class="title-h1">Votre cabinet spécialisé en droit des assurances</h1>
    </div>
    <div class="content">
        {% for home in homes %}
            <p>{{ home.content }}</p>
        {% endfor %}
    </div>

</div>
{% endblock %}
