{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div>
    <p>Le cabinet Chauchard Lepoutre Associés est un cabinet d'avocats français indépendant spécialisé en droit des assurances et plus généralement en contentieux des affaires. Il intervient dans l'intérêt de compagnies d'assurance, de courtiers ou d'entreprises confrontées à des problématiques de responsabilité et d'assurance.
    Le cabinet Chauchard & Associés a été créé en 2007 par Pascal Chauchard. Il a été rejoint en 2022 par Ghislain Lepoutre.
    Le cabinet Chauchard Lepoutre Associés dispose d'une expérience incontournable en matière d'expertise judiciaire et de contentieux.</p>
</div>
{% endblock %}
