@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root{
  --title: #2136A3;
  --text: #444444;
}

* {
  margin: 0;
  padding: 0.5rem;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: var(--text);
}

/* ----- Navbar ----- */

.logo-nav {
  width: 15rem;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.container-fluid {
  display: flex;
  justify-content: flex-end;
}

.nav-item :hover {
  color: var(--title);
}

.navbar-nav .nav-link.active {
  color: var(--title);
}

@media screen and (max-width: 1000px) {
  .navbar-collapse {
    display: flex;
    justify-content: center;
    text-align: center;
  }

}

@media screen and (max-width: 550px) {
  .container-fluid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

/* ----- Homepage ----- */

.title h1{
  text-align: center;
  color: var(--title);
}

.content {
  width: 50%;
  margin: 1rem auto;
}

.content p {
  text-indent: 30px;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 70%;
  }

}

@media screen and (max-width: 550px) {
  .title h1 {
    font-size: 1.2rem;
  }
  .content {
    width: 90%;
  }
}